section
  background-color rgba(0, 0, 0, 0.4)
  border-radius 8px
  padding 10px

.shelf-icon
  display flex
  flex-direction row
  align-items center
  margin-bottom 10px

  font-size 22pt
  font-weight 700
  height 22pt

  &.smaller img
    font-size 60%

  img
    height 1em

.shelf
  display flex
  flex-direction row
  overflow-x scroll

  gap 10px 10px
